.about-nav{
    list-style: none;
}

.about-page-story{
    margin-top: 0;
    padding-top: 1rem;

    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    color: black;
}

.about-page-main-content{
    height: 100%;

    margin: 0rem 2rem 0 2rem;
    background-color: white;
}

.about-page-main{
    text-align: center;
    height: 100%;   

}

.app.dark .about-page-main-content{
    background-color: rgb(238, 244, 232);
}

.story{
    margin: 0 3rem 0 3rem;
    line-height: 2rem;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 1.2rem;
    text-align: justify;
}

.greetings{
    font-size: 1.5rem;
    color: #778152;
    text-align: center;
}


.about-page-story-p1{
    margin: 0 3rem 0 3rem;
    line-height: 2rem;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 1.2rem;
}

.p1{
    font-weight: bolder;
    text-decoration: underline;
    
}



.menubar{
    list-style: none;
    cursor: pointer;

    padding-bottom: 3rem;

   
}


.menubar-list{
   
    position: relative;
    padding-bottom: 2rem;
    padding-top: 1rem;
 
    height: 3rem;
 
}


#menubar-options{
    
    margin-left: 3rem;
    margin-right: 5rem;

    list-style: none;

   
    
}

.about-nav{
    display: block;
    line-height: 2rem;

    position: relative;

    margin-left: 3rem;
    margin-right: 3rem;
}

.menubar-link{
    cursor: pointer;

    padding: 0.5rem 2rem 0.5rem 2rem;

    border-radius:0.5rem ;
    
    font-size: 1.2rem;
    

    background-color:#4b5c09;
    color: white ;
}

.about-nav-link{

    font-size: 1.5rem ;
    
    
    font-family: Arial, Helvetica, sans-serif;

    color: #778152;
}



.app.light .menubar-link{
    background-color: var(--header-bg);
    color: white;
}


