.footer-list-social{
    display: flex;
    flex-direction: row;
    gap:1rem;
    margin-top: 2rem;
    color: white;

}

.footer{
    background-color: var(--footer-bg);
    padding-top: 0.5rem;
}

.app.dark{
    --header-bg: #43492f;
}

.app.dark .footer{
    background-color: #43492f;
}


.app.dark .footer-list-contact{
    color: white;
}

.app.dark .footer-list-hours{
    color: white
}

.app.dark .gg-twitter{
    color: white;
}

.app.dark .gg-facebook{
    color: white;
}

.app.dark .gg-instagram{
    color: white;
}



.footer-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    

    list-style: none;
    margin: 0;
    padding-left: 0;
}

.footer-list-contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
  

}
.footer-list-contact span{
    font-size: 1rem;
    margin-bottom: 8px;

    font-weight: bold;
    text-decoration: underline;
}


.footer-list-contact p{
    font-size: 1rem;
    margin-top: 5px ;

}

.footer-list-hours{
    color: white;
    
}


.footer-list-hours span{
    font-size: 1rem;

    font-weight: bold;
    text-decoration: underline;
}

.footer-list-hours p{
    font-size: 1rem;
    font-weight: lighter;

}


.phone-icon {
    font-size: 20px; 
    color: white;
    margin-right: 8px; 
    vertical-align: middle; 
}

.location-icon {
    font-size: 20px; 
    color: white;
    margin-right: 8px; 
    vertical-align: middle; 
}




@media screen and (min-width: 44rem){

.footer{
        padding-top: 0.5rem;
        
    }

.app.dark .footer{
        background-color: #43492f;
}
    

.footer-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    list-style: none;
    margin-top: 1rem;
    padding-left: 0;
}



li{
    font-weight: bold;
    
}

p{
    font-size: small;
}

.footer-list-social{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;

    margin: 0;
    color: white;

    padding-top: 2.5rem;

}

.footer-list-contact span{
    font-size: 1.2rem;

    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 8px;
}


.footer-list-contact p{
    font-size: 1rem;
    font-weight: lighter;
    padding: 0;
    margin: 5px;

}



.footer-list-hours{
    color: white;
    
}


.footer-list-hours span{
    font-size: 1rem;

    font-weight: bold;
    text-decoration: underline;
}

.footer-list-hours p{
    font-size: 1rem;
    font-weight: lighter;

}

.phone-icon {
    font-size: 20px;
    color: white; 
    margin-right: 8px; 
    vertical-align: middle;
}

.location-icon {
    font-size: 20px; 
    color: white;
    margin-right: 8px; 
    vertical-align: middle; 
}


}