
  img {
    display: block;
    max-width: 100%;
  }

  


  .image-gallery{
    overflow: hidden;
    height: 35rem;
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    grid-gap: 10px;
  }

  .image-gallery-slides{
   
    margin: 0.5rem ;
    overflow: scroll;
  }

  .img1{
    /* scroll-snap-align: start; */
    margin-bottom: 10px;
    min-height: 30rem;
    
  }

  .image-nav{
   
    overflow-y: scroll;
    overflow-x: hidden;


  }


  .image-nav a {
    height: 200px;
    width: 19rem;

    
  }


 .image-gallery-img1{
  margin: 0.5rem 0.5rem 1rem 0.5rem;

 }


 