.themeswitcher{
    color: white;
}

.themeswitcher-toggle{
    display: flex;

    padding: 0;
    font: inherit;
    

    height: 2rem;
    width: 4rem;

    border-radius: 1rem;

    background-color: white;
}

.themeswitcher--switcher{
    
    display: inline-block;
    
    border-radius: 100%;
    margin-top: 0.3rem;
    margin-left: 0.5rem;
    border: 1px solid black;

    background-color: #4b5c09;

    

    width: 2ch;
    height: 2ch;
}

.app.light .themeswitcher--switcher{
    background-color: #4b5c09;
}

.app.light .themeswitcher--switcher{
    order: 2;
   
}

@media  screen and  (min-width : 44rem) {

    .themeswitcher-toggle{
        margin-top: 1rem;
        
    }
}